body {
        font-family: sans-serif;
        margin-top: 133px;
}

.nav {
        position: fixed;
        top: 0;
        left: 0;
        padding: 15px;
        width: 100%;
        background-color: #000;
        color: #fff;
        z-index: 3;
}

h1 {
        font-size: 40px;
        margin:0;
}

.slogan {
        margin:0;
        text-align: center;
}

.nav ul {
        list-style-type: none;
        margin: 0;
        text-align: center;
}

.nav li {
        float: right;
}

.nav a {
        display: block;
        color: #eb3838;
        text-align: center;
        padding: 10px 25px;
        text-decoration: none;
}

.nav a:hover {
        background-color: #eb3838;
        color: #000;
}

.sidebar {
        position: fixed;
        left: 0;
        height: 100%;
        width: 10%; 
        background-color: #333; 
        z-index: 2;
        overflow: hidden;
}

.sidebar a {
        color: #fff;
}

.sidebar a:hover {
        color: #9fc5e8;
}

.main {
        left: 12%;
        width: 88%;
        position: relative;
        z-index: 1;
}
